@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* Configure custom font families */
	--font-kario: 'Kario', ui-sans-serif, system-ui;
	--font-officer: 'Officer Sans', ui-sans-serif, system-ui;
	--font-heading: 'Kario', ui-sans-serif, system-ui;
	/* Set Officer Sans as default sans-serif font */
	--font-sans: 'Officer Sans', ui-sans-serif, system-ui;
}

@layer base {
	/* Kario Font for Headlines */
	@font-face {
		font-family: 'Kario';
		src:
			url('/fonts/Kario39C3VarWEB-Roman.woff2') format('woff2'),
			url('/fonts/Kario39C3VarWEB-Roman.woff') format('woff');
		font-weight: 100 900;
		font-style: normal;
		font-display: swap;
	}

	/* Officer Sans Regular */
	@font-face {
		font-family: 'Officer Sans';
		src:
			url('/fonts/OfficerSansWeb-Regular.woff2') format('woff2'),
			url('/fonts/OfficerSansWeb-Regular.woff') format('woff');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	/* Officer Sans Regular Italic */
	@font-face {
		font-family: 'Officer Sans';
		src:
			url('/fonts/OfficerSansWeb-RegularItalic.woff2') format('woff2'),
			url('/fonts/OfficerSansWeb-RegularItalic.woff') format('woff');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	}

	/* Officer Sans Bold */
	@font-face {
		font-family: 'Officer Sans';
		src:
			url('/fonts/OfficerSansWeb-Bold.woff2') format('woff2'),
			url('/fonts/OfficerSansWeb-Bold.woff') format('woff');
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	/* Officer Sans Bold Italic */
	@font-face {
		font-family: 'Officer Sans';
		src:
			url('/fonts/OfficerSansWeb-BoldItalic.woff2') format('woff2'),
			url('/fonts/OfficerSansWeb-BoldItalic.woff') format('woff');
		font-weight: 700;
		font-style: italic;
		font-display: swap;
	}

	/* Apply fonts automatically */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}

	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

@plugin "daisyui";
