# To better understand this file read this:
# https://docs.ionos.space/docs/github-actions-customization/

name: "Deploy Now: Execute Build"

on:
  workflow_call:
    inputs:
      site-url:
        required: true
        type: string
      branch-id:
        required: true
        type: string

env:
  DEPLOYMENT_FOLDER: ./game-client/dist

jobs:
  # Please do not rename this job
    build:
      name: build congress_ingress
      runs-on: ubuntu-latest
      steps:
        - name: checkout
          uses: actions/checkout@v4
          with:
            submodules: 'recursive'

        - name: Checkout LFS objects
          run: git lfs checkout

        - name: Setup Node
          uses: actions/setup-node@v4
          with:
            node-version: v22.x
        
        - name: Write .env file for SvelteKit
          run: |
            echo "PUBLIC_SUPABASE_URL=${{ secrets.PUBLIC_SUPABASE_URL }}" >> .env
            echo "PUBLIC_SUPABASE_ANON_KEY=${{ secrets.PUBLIC_SUPABASE_ANON_KEY }}" >> .env

        - name: Run install
          uses: borales/actions-yarn@v4
          with:
            cmd: install 
            dir: game-client

        - name: Build production bundle
          uses: borales/actions-yarn@v4
          with:
            cmd: build
            dir: 'game-client'

    # Please do not touch the following action
        - name: Store deployment content
          uses: ionos-deploy-now/artifact-action@v1
          with:
            api-key: ${{ secrets.IONOS_API_KEY }}
            service-host: api-eu.ionos.space
            project-id: d7f288bc-74b2-4644-a301-b526d3067f74
            branch-id: ${{ inputs.branch-id }}
            version: ${{ github.sha }}
            folder: ${{ env.DEPLOYMENT_FOLDER }}
            config-file: .deploy-now/congress_ingress/config.yaml
            action: upload
